{% if tasks|length >= 1 %}    
    <table>
        <tr>
            <th><div class="thsizelarge">Tarea</div></th>
            <th><div class="thsize">Prioridad</div></th>
            <th><div class="thsize">Horas Presupuestadas</div></th>
            <th><div class="thsize">Creada</div></th>
            <th><div class="thsize">Terminada</div></th>
            <th><div class="thsize">Completada en</div></th>
            <th><div class="thsize">Usuario</div></th>
            <th><div class="thsizexlarge">Acciones</div></th>
            <th><div class="thsizelarge">Comentario de Finalizacion</div></th>
        </tr>

        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>
                    {% if task.priority == 'high' %}
                        {{ 'Alta' }}
                    {% endif %}
                    {% if task.priority == 'medium' %}
                        {{ 'Media' }}
                    {% endif %}
                    {% if task.priority == 'low' %}
                        {{ 'Baja' }}
                    {% endif %}
                </td>
                <td>{{ task.hours }}</td>
                <td>
                    {{ task.createdAt|date('d-M-Y') }}
                    {{ task.createdAt|date('h:i:s') }}
                </td>
                
                
                <td class="buttons">
                    
                    {% if app.user !=null and task.user.id == app.user.id  and task.endedAt == null %}
                        <a href="{{ path('task_ended', {'id':task.id}) }}" class="btn-show">Terminar</a>
                    {% elseif  app.user !=null and task.user.id != app.user.id  and task.endedAt == null%}
                        {{ 'Sin terminar' }}
                    {% endif %}
                                      
                    {% if task.endedAt != null %}
                        {{ task.endedAt|date('d-M-Y') }}
                        {{ task.endedAt|date('h:i:s') }}
                    {% endif %}
                </td>
                
                <td>
                    <div class="buttonscont">
                    {% if task.endedAt != null %}
                        {% set diferencia = date(task.createdAt).diff(task.endedAt) %}
                            {% set completadoF = diferencia.y ~ ' Y- ' ~ diferencia.m ~ ' M- ' ~ diferencia.d ~ ' D'%}
                            {% set completadoT = diferencia.h ~ ' hrs: ' ~ diferencia.i ~ ' min: ' ~ diferencia.s ~ ' seg' %}
                           
                              {{ completadoF }}
                            <div class="comp">  
                              {{ completadoT }}
                            </div>
                    {% else %}  
                        {{ "No Completada" }}
                     {% endif %}   
                    </div>
                </td>
                
                <td>{{ task.user.name }}</td>
                
                <td class="buttons">
                    <div class="buttonscont">
                    <a href="{{ path('task_detail', {'id':task.id}) }}" class="btn-show">Ver</a>
                    {% if app.user !=null and task.user.id == app.user.id %}
                        <a href="{{ path('task_edit', {'id':task.id}) }}" class="btn-edit">Editar</a>
                        <a href="{{ path('task_delete', {'id':task.id}) }}" class="btn-delete">Eliminar</a>
                    {% endif %}
                    </div>
                </td>
                
                <td class="buttons">
                    
                    <div class="commentsec">
                    
                    {% if app.user !=null and task.user.id == app.user.id and task.comment != null and edit is defined %}

                        {% if form is defined %}
                            <div class="example-wrapper">
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }} 
                                    {{ form_end(form) }}
                            </div>

                        {% endif %}

                    {% else %}    

                        {% if app.user !=null and task.user.id == app.user.id and task.comment == null %}

                            {% if form is defined %}
                            <div class="example-wrapper">
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }} 
                                    {{ form_end(form) }}
                            </div>
                            {% else %}
                             <a href="{{ path('task_comment', {'id':task.id}) }}" class="btn-edit comment">Comentario</a>
                            {% endif %}
                        {% elseif  app.user !=null and task.user.id != app.user.id  and task.comment == null%}
                            {{ 'No hay Comentario' }}
                        {% endif %}



                        {% if app.user !=null and task.user.id == app.user.id and task.comment != null %}
                            {{ task.comment }}
                             <a href="{{ path('task_editComment', {'id':task.id}) }}" class="btneditcomment">Editar</a>
                        {% elseif  app.user !=null and task.user.id != app.user.id  and task.comment != null%}
                            {{ task.comment }}
                        {% endif %}



                    {% endif %}                   

                    
                    </div>
                    
                    
                    
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <strong>No hay tareas disponibles en este momento</strong>
{% endif %}   